body{
    font-family: 'Nunito', sans-serif;
    color: white;
    background-image: url(../img/MetropolitanMuseumofArt.jpg); 
}

a:link,
a:visited {
    color: #ED462F;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active,
#output > div > div > div > a {
    color: white;
    background-color: #ED462F;
    padding: 2px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
}

#output > div > div > div > a {
    width: 6rem;
    margin-left: 30%;
    padding: 0.5rem;
}

.main-box {
    background-color: rgba(0,0,0,0.7);
    margin-top: 5%;
    padding: 10%;  
}
#connection-form {
    text-align: center;
}
.header-title {
    color: #fff;
    margin: 2rem;
}

.search-box, .search-button {
    border-radius: 5px;
    margin: 1rem;

}

.search-button {
    background-color: #ED462F; 
}

#output {
    margin: 2rem;
    padding: 2rem;
}

#output > div {
    background-color: rgba(0,0,0,0.7);
    padding: 2rem;
}

.card-title {
    margin: 1rem;
}

.dropdown-menu {
    background-color: #1D0707;
    border-color: white;
}
.dropdown-item {
    color: white;
}

.dropdown-toggle {
    background-color: #ED462F;
    margin: 2rem;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ED462F;
    border-color: #ED462F;
}
